<h1><%= @dog.name %></h1>
<h2>Training Sessions</h2>
<table>
  <tr>
    <th>Started At</th>
    <th>Completed At</th>
    <th>Rating</th>
    <th>Longest Absence</th>
  </tr>
<% @training_sessions.each do |training_session| %>
  <tr>
    <td><%= training_session.started_at %></td>
    <td><%= training_session.completed_at %></td>
    <td><%= training_session.rating %></td>
    <td><%= training_session.longest_absence %></td>
  </tr>
<% end %>
</table>
<p>
  <%= link_to "Create new Training Session", new_training_session_path(dog_id: @dog.id) %>
</p>