<h1 class="text-5xl mb-6"><%= @dog.name %></h1>
<h2 class="text-2xl mb-4">Training Sessions</h2>
<div class="relative rounded-xl overflow-x-auto shadow-md sm:rounded-lg w-auto">
  <table class="min-w-full">
    <thead class="bg-gray-50">
      <tr>
        <th class="py-4">Started At</th>
        <th class="py-4">Completed At</th>
        <th class="py-4">Rating</th>
        <th class="py-4">Longest Absence</th>
        <th class="py-4">Steps</th>
      </tr>
    </thead>
  <% @training_sessions.each do |training_session| %>
    <tr class="odd:bg-white even:bg-gray-50">
      <td class="py-4 text-center"><%= training_session.started_at %></td>
      <td class="py-4 text-center"><%= training_session.completed_at %></td>
      <td class="py-4 text-center"><%= training_session.rating %></td>
      <td class="py-4 text-center"><%= training_session.longest_absence %></td>
      <td class="p-4 text-center">
        <ul>
        <% training_session.training_steps.collect do |tst| %>
          <li><%= tst.description %></li>
        <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  </table>
</div>
<p class="mt-6">
  <%= link_to "+ Create new Training Session", new_training_session_path(dog_name: @dog.name), class: "font-bold hover:underline" %>
</p>