<% if @dog %>
  <h1> Creating Training session for <%= @dog.name %></h1>
<% end %>

<!-- We should move the form into a partial -->

<%= form_with model: @training_session, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>
  <% if @dog %>
    <%= form.hidden_field :dog_id, value: @dog.id %>
  <% end %>

  <% if @dogs %>
    <p>Select dropdown for multiple dogs</p>
  <% end %>

  Session Steps:
  <template data-nested-form-target="template">
    <%= form.fields_for :training_steps, TrainingStep.new, child_index: 'NEW_RECORD' do |training_steps_form| %>
      <%= render partial: "training_step_fields", locals: { f: training_steps_form }%>
    <% end %>
  </template>


  <%= form.fields_for :training_steps do |training_steps_form| %>
    <%= render partial: "training_step_fields", locals: { f: training_steps_form } %>
  <% end %>

  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add">Add Training Step</button>

  <%= form.submit "Create New Session" %>
<% end %>